.fas.fa-search {
    position: absolute;
    top: 12px;
    right: 26px;
    cursor: pointer;
}

.search-div {
    padding: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}
#search-form{
    width: 50vw;
    align-items: center;
}

.sectiontitle {
	
	max-width: 55%;
	margin: 0 auto 80px;
    text-align: center;
    margin-top: 40px;
	
}
