

#banner  {
	width: 100%;
	background-color: #2f6783;
	height: 100vh;
}
 #conteudo {
	max-width: 600px;
	height: 100%;
	justify-content: center;
	margin: 0 auto;
	padding: 20px;
	box-sizing: border-box;
	color: rgba(240, 223, 223, 0.877);
	display: flex;
	flex-direction: column;
	align-items: center;
}
#conteudo span {
	font-size: 50px;
	text-align: center;
}
#conteudo p {
	text-align: center;
	font-size: 18px;
	line-height: 30px;
}


#proposals {
	padding: 20px;
  box-sizing: border-box;
  height: 900px;; 
	
}
#proposals div span {
	font-size: 24px;
	font-weight: 7vw;
}
#proposals div img {
	height: 200px;
	width: 200px;
	background-color: #fff;
	margin-bottom: 10px;
	background-color: #f4f4f4;
}
#proposals div p {
	text-align: center;
	font-size: 16px;
	line-height: 28px;
}

#proposals div {
	flex-grow: 10;
	flex-basis: 1px;
	padding: 0 10px;
}

@media screen and (min-width: 768px) {
	
	
	#proposals {
		max-width: 1000px;
		height: 95vh; ou 590px;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 0 auto;
	}
	#proposals span {
		width: 100%;
		text-align: center;
	}
	
}






