{% extends 'base.html' %}
{% load static %}
{% block complemento %} 
    <link rel="stylesheet" href="{% static 'css/form/form.css'%}">
{% endblock complemento %}
{% block title %} Adicionar item {% endblock title %}
{% block content %}
<div class="col-md-12">
    <h3 class="green title" style="text-align:center; padding-top: 1vh" >Registre o seu objeto</h3>
    
</div>
    <section class="form-main">
        <form method="POST" enctype='multipart/form-data' class="form-long">
            {% csrf_token %}
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-12">
                        <div class="form-row">

                            <div class="form-group col-md-6">
                                <label class="form-title gray">Nome do Objeto</label> <br>
                                {{form.nome}}
                               
                            </div>

                            <div class="form-group col-md-6" style="margin-top:-4px; ">
                                <label class="form-title gray" >Local que voce encontrou ou perdeu</label> <br>
                                {{form.localencontrado}}
                                
                            </div>
                            
                            <div class="form-group col-md-6" style="margin-top:-4px;">
                              <label class="form-title gray">Imagem</label> <br>
                              {{form.imagem}}
                             
                            </div>
                            <div class="form-group col-md-6" style="margin-top:-4px;">
                              <label class="form-title gray">Status</label> <br>
                              {{form.status}}
                             
                            </div>              
                          <div class="form-group col-md-6">
                            <label class="form-title gray"> Descrição do objeto</label> <br>
                            {{form.descricao}}
                            
                          </div>
                                                      
                        </div>
                    </div>
                    <div class="center text-center">
                      <input type="submit" class="btn btn-primary" value="Adicionar item">
                    </div>
                </div>
            </div>
        </form>
    </section>
{% endblock %}
  

    
