{% extends 'base.html' %}
{% load static %}

{% block complemento %} 
    <link rel="stylesheet" href="{% static 'css/home/home.css'%}">
    
{% endblock complemento %}
{% block title %} IFinder {% endblock title %}


{% block content %}


  <div id="banner" class="container-fluid">
          <div id="conteudo" >
            <span>Encontrou ou perdeu algo na instituição?</span>
            <p>O IFinder é um sistema de achados e perdidos que permite o dono de um objeto perdido entrar em contato com quem o encontrou.</p>
             <a href="#down"><i class="fas fa-chevron-down " style="font-size:70px;"></i></a><br><br>
            

          </div>
      </div>

{% endblock %}
