{% extends 'base.html' %}
{% load static %}

{% block complemento %} 
    <link rel="stylesheet" href="{% static 'css/home/home.css'%}">
    
{% endblock complemento %}
{% block title %} IFinder-Achados e Perdidos {% endblock title %}


{% block content %}


  <div id="banner" class="container-fluid">
          <div id="conteudo" >
            <span>Encontrou ou perdeu algo na instituição?</span>
            <p>O IFinder é um sistema de achados e perdidos que permite o dono de um objeto perdido entrar em contato com quem o encontrou.</p>
             <a href="#down"><i class="fas fa-chevron-down " style="font-size:70px;"></i></a><br><br>
            

          </div>
      </div>
      
      <section id="proposals" class="todo">
        <div class="todo">
          <img src="{% static 'imagens/iconfinder_sign-check_299110.png'%}">
          
          <span>Achou um objeto?</span>
          <p> Registre no sistema para que o dono possa entrar em contato e recuperá-lo.</p>
        </div>
        <div class="todo">
          <img src="{% static 'imagens/iconfinder_simpline_59_2305604.png'%}">
          <span>Perdeu um objeto?</span>
          <p>Verifique se o objeto que você perdeu foi registrado por alguém e entre em contato.</p>
        </div>
      <a id="backtotop" href="#top" class=""><i class="fa fa-chevron-up"></i></a>
      </section>

  

{% endblock %}