{% extends 'base.html' %}
{% load static %}

{% block complemento %} 
    <link rel="stylesheet" href="{% static 'css/home/home.css'%}">
    
{% endblock complemento %}
{% block title %} IFinder {% endblock title %}


{% block content %}


  <div id="banner" class="container-fluid" style="max-height: 92vh;">
          <div id="conteudo" >
            <span>Encontrou ou perdeu algo na instituição?</span>
            <p>O IFinder é um sistema de achados e perdidos que permite o dono de um objeto perdido entrar em contato com quem o encontrou.</p>
          </div>
      </div>

{% endblock %}
