{% extends 'base.html' %}
{% load static %}

{% block complemento %} 
    <link rel="stylesheet" href="{% static 'css/listadeitens/listadeitens.css'%}">
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
{% endblock complemento %}
{% block title %} Lista de itens {% endblock title %}
  
{% block content %}
  <div class="sectiontitle">
                
   <h1>Lista de Itens Registrados</h1>
    <form method="GET" id="search-form">
      <input class="form-control" type="text" id="search" name="search" placeholder="Digite o nome do objeto para buscar..." value="{{ request.GET.search }}">
      <i class="fas fa-search" id="search-btn"></i>
   </form>

  </div>
{% if objeto in objetos %}
{% else %}
  
{% endif %}
  <div class="container-fluid ">
      
      {% for objeto in objetos %}
      {% if forloop.counter0|divisibleby:3 %} <div class="row text-center"> {% endif %}
        <div class="col-md-4" style="cursor: pointer">
          <div class="card">
              {% if objeto.imagem %}
              <img class="img-card-top mx-auto" src= {{objeto.imagem.url}} alt="Imagem" width="300px" height="200px">
              {% endif %}
              <div class="card-content">
                <p class="card-text">{{ objeto.nome }} </p>
                <a href="/detalhes-do-item/{{ objeto.id }}"><button  class="btn btn-primary " > Detalhes do objeto </button></a><br><br>
                {% if objeto.status == "Encontrado" %}
                <p class="card-text">Encontrado por: {{ objeto.user.first_name }}</p>
                {% endif %}
                {% if objeto.status == "Perdido" %}
                <p class="card-text">Perdido por: {{ objeto.user.first_name }}</p>
                {% endif %}
              </div><!-- card content -->
          </div><!-- card -->
        </div><!-- col-md-4 -->
      {% if forloop.counter|divisibleby:3 or forloop.last %}</div><!-- row closing -->
      <hr>{% endif %}
      {% endfor %}
  </div>

{% endblock %}
