
<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>IFinder</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <h1 id="teste">teste</h1>
    <p> <a class="nav-link" href="/minhas-publicacoes">Minhas publicações</a></p>
    <p> <a class="nav-link" href="/adicionar-item">Adicionar item</a></p>
    <form method="GET" id="search-form">
        <input class="form-control" type="text" id="search" name="search" placeholder="Digite o nome do objeto para buscar..." value="{{ request.GET.search }}">
        <i class="fas fa-search" id="search-btn"></i>
     </form>
    {% for objeto in objetos %}
    <h1>
    {{ objeto.nome }}
    {{ objeto.user }}
    </h1>
    
    <a href="/detalhes-do-item/{{ objeto.id }}"><button> Detalhes do objeto </button></a><br>
    <a href="/editar-item/{{ objeto.id }}"><button> Editar objeto </button></a><br>
    {% endfor %}
    <script src="{% static 'js/scripts.js' %}"></script>
  </body>
</html>