{% extends 'base.html' %}]
{% load static %}
{% block title %} Publicações | {{ user.first_name }} {% endblock title %}
{% block content %}
{{ objeto.user }}
    <div class="container" style= "margin-top: 15px; ">
       
        <h3 style="text-align:center; padding-top: 1vh">Essas são suas postagens {{ user.first_name }} {{ user.last_name }} </h3>
        
        
       
        {% for objeto in objetos %}
        <div class="card mb-3" style="max-width: 900px; padding: 15px; margin-left: auto; margin-right: auto;  border-style: solid;  border-color: rgb(212, 212, 241); ">
            <div class="row g-0">
                <div class="col-md-4">
                    <img style="max-width: 200px" src="{{objeto.imagem.url}}" alt="...">
                </div>
            <div class="col-md-8">
                <div class="card-body "  style="border-style: solid;  border-color: rgb(212, 212, 241);" >
                    <h5 class="card-title">Nome do Objeto: {{ objeto.nome }}</h5>
                    <p>Descrição: {{ objeto.descricao }}</p>
                    <p>Status: {{ objeto.status }}</p>
                    <p>Local: {{ objeto.localencontrado }}</p>
                    <a href="/editar-item/{{ objeto.id }}"><button class="btn btn-success badge"  onclick="deleteBtn();" >Editar postagem</button></a><br><br>
                    <a class="delete-btn" href="/deletar-item/{{ objeto.id }}"><button  class="btn btn-danger" > Deletar </button></a><br><br>
                </div>
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
{% endblock %}
