{% extends 'base.html' %}
{% block content %}
{% for objeto in objetos %}
    <div class="container" style="align-items:center">
        <div class="card mb-3" style="max-width: 800px; padding: 30px; ">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{objeto.imagem.url}}" alt="...">
                </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ objeto.nome }}</h5>
                    <p class="card-text">{{ objeto.user }}</p>
                    <a href="/editar-item/{{ objeto.id }}"><button>Editar postagem</button></a><br><br>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}